ipv4adress={{ ansible_default_ipv4.address }}
distribution= {{ ansible_distribution }}
version={{ ansible_distribution_version }} 
architecture={{ ansible_architecture }} 
bootimg={{ ansible_cmdline.BOOT_IMAGE }}
date={{ ansible_date_time.date }}
